

.firstTitle{
    font-weight: bolder;
  }
  
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  
  ul.header {
    background-color: #0e003f;
    padding: 0;
  }
  
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  
  ul.header li a:hover{
    color: #FFCC00;
  }
  
  .content {
    background-color: #FFF;
    /* padding: 20px; */
  }

  .content h2 {
    padding: 0;
    margin: 0;
  }
  
  .content li {
    margin-bottom: 10px;
  }
  
  .active {
    background-color: #0099FF;
    border: white solid 1px;
    /* border-radius: 10px; */
  }
  
  .widowRegisterAndLogin{
    background-color: #0099FF;
    text-align: center;
    width: 350px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border: #0e003f solid 1px;
    border-radius: 10px;
    box-shadow: rgb(160, 160, 160) 2px 1px 10px 2px;
    color: white;
  }

  input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
  }

  .button_style{
    width: 255px;
    height: 40px;
    background-color: #0e003f;
    color: white;
    font-size: 17px;
    border-radius: 15px;
    margin-top: 10px;
  }

  .button_style:hover{
    opacity: 0.8;
  }

  .notRegister{
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ffc422;
    color: black;
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    box-shadow: rgb(73, 73, 73) 1px 1px 2px 1px;
    list-style-type: none;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:active{
    color: black;
  }

  .notRegister:hover{
    background-color: #ecad00;
    color: black;
  }

.enjoyTitle{
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}

.input_style{
  background-image: url(../images/image6.jpg);
  padding: 22px;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
}

.logout{
  background-image: url(../images/image4.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
}

table{
  padding-top: 150px;
  padding-right: 120px;
  margin-left: auto;
  margin-left: auto;
}

.tr_first{
  background-color: #0e003f;
  color: white;
  font-size: 65px;
  text-align: left;
}

.tr_second{
  font-size: 25px;
  text-align: left;
  color: #0e003f;
}

.th_first{
  padding: 20px 25px 20px 25px;
}

.errorsOfValidation{
  color: black;
  font-size: 13px;
}

/* go up */
.backToHeader {
  background-color: white;
  color: #2196F3;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  border: solid 2px #2196F3;
  text-align: center;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-decoration: none;
}

.backToHeader:hover{
  opacity: 0.8;
  color: white;
}
