
/* .flex_container{
    display: flex;
} */

.hrStyle{
    border: 10px solid #0e003f;
    height: 10px;
    background-color: #0e003f;
}

.footerStle{
    background-color: #d4d4d4;
    color: #0e003f;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.firstTitle{
    font-size: 19px;
    padding-bottom: 20px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #6a0f81;
    color: white;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .inputFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(37, 37, 37);
  }

  .byMe{
    text-align: center;
    background-color: #0099ff;
    color: white;
    font-size: 14px;
  }

  input, textarea{
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  textarea{
    width: 250px;
  }

  .buttonStyleFooter{
    width: 260px;
    height: 30px;
    background-color: #2196F3;
    color: white;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  
  .buttonStyleFooter:hover{
    opacity: 0.8;
  }

  #showAndHideMessage, .contactUs{
    color: white;
  }
  