
.each_slide{
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    height: 200px;
}

.spanStyle{
    font-size: 50px;
    color: white;
    font-weight: 700;
}